<%= csrf_meta_tags %>
<%= javascript_include_tag "modal_import" %>
<div class="modal fade" id="modal-import-cv" tabindex="-1" role="dialog" aria-labelledby="modal-import-cv-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-import-cv-label">Importar Currículo</h4>
      </div>
      <div class="modal-body">
        <form method="post" id="cv_form" class="form" action="lattes/candidates/new" enctype="multipart/form-data">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="form-group">
            <label for="cv_file" class="control-label">Currículo:</label>
            <input type="file" id="cv_file" name="datafile" required>
          </div>
          <div class="form-group">
            <label for="evento">Evento</label>
              <% if logged_in? %>
                <%= select("events", "event_id", Event.where(user_id: current_user.id).collect {|p| [ p.event_name, p.id ] }, {include_blank: 'Escolha o Evento'}, class:"form-control") %>
              <% end %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button form="cv_form" type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</div>