<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://www.facebook.com/bruno.filgueiras.5">Bruno Filgueiras</a>
		</small>
		<nav>
			<ul>
				<li>
					<%=link_to "Sobre", about_path %>
				</li>
			</ul>
		</nav>
	</footer>
</div>
<%=render 'shared/modal_import_cv' %>